@use './variables' as *;

.container {
  max-width: 90rem;
  width: 100%;
  padding: 0 5rem 0 5rem;
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (max-width: $px-768) {
    max-width: 48rem;
    padding: 0 1.12rem;
  }

  @media (max-width: $px-320) {
    max-width: 20rem;
  }
}
