@font-face {
  font-family: 'Play';
  src:
    url('/assets/fonts/Play-Regular.woff2') format('woff2'),
    url('/assets/fonts/Play-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
