@use './variables' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  // outline: 4px solid black;
}

html {
  scroll-behavior: smooth;
  // overflow-x: hidden;
}

body {
  background:
    linear-gradient(180deg, $dark-start 0%, $dark-end 100%),
    linear-gradient(178.73deg, $blue-start -17.53%, $purple-end 131.74%);
  color: $white;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  font-family: $font-play;
  min-height: 100vh;
  max-width: 100vw;
  height: 100%;
  padding: 0;
  margin: unset;
  flex-grow: 1;
}

picture {
  display: block;
  height: auto;
  max-width: 100%;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: $white;
  text-decoration: none;
}

svg {
  flex-shrink: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

footer {
  margin-top: auto;
}
